{% extends 'cafe/base.html' %}

{% block title %}
    About-us
{% endblock %}

{% block content %}
    <h3>FAQ</h3>
    <h4>What is it?</h4>
    <p>This is the online platform of Beibit's Light Cafe. Here you can select and order foods from our cafe!</p>
    <h4>Who we are?</h4>
    <p>We are the team of Beibit's Light Cafe and we provide the platform for ordering the best food ever!</p>
    <h4>How can I start?</h4>
    <p>Too see the information about available food positions for today, you should pass authorization!</p>
    <h4>Why so expensive?</h4>
    <p>We use some of the most expensive fabrics, materials in our products when the entire market is geared towards low cost production.</p>
    <h4>Will there be other foods besides soups, salads, snacks and desserts?</h4>
    <p>It all depends on demand, the production of quality things is very expensive, so we will think a thousand times whether it is necessary. While in the plans adding drinkings category.</p>
    <h4>What's in terms of quality?</h4>
    <p>We don't make foods that we wouldn't eat ourselves:)</p>
    
{% endblock %}